body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.header-logo {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.03em;
}
.header-logo-detalik {
  color: var(--IRIS, #4d5ae5);
}
.header-menu-link {
  color: var(--NAVY-BLUE, #2e2f42);
  /* Body Medium */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.header-address-link {
  color: var(--SLATE, #434455);
  /* Body */
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.section-1-title {
  color: var(--WHITE, #fff);
  text-align: center;
  /* Header 1 */
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
}
.section-1-button {
  color: var(--WHITE, #fff);
  /* Button Text */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}
.section-2-title {
  color: var(--NAVY-BLUE, #2e2f42);
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.section-2-text {
  color: var(--SLATE, #434455);
  /* Body */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
